/Users/derek/Desktop/GenAI/assets/channel_videos.json filter=lfs diff=lfs merge=lfs -text
/Users/derek/Desktop/GenAI/assets/fullvideo.mp4 filter=lfs diff=lfs merge=lfs -text
/Users/derek/Desktop/GenAI/assets/football.mp4 filter=lfs diff=lfs merge=lfs -text
/Users/derek/Desktop/GenAI/assets/players_data.json filter=lfs diff=lfs merge=lfs -text
/Users/derek/Desktop/GenAI/assets/track_stubs.json filter=lfs diff=lfs merge=lfs -text
/Users/derek/Desktop/GenAI/assets/categorized_videos.json filter=lfs diff=lfs merge=lfs -text
/Users/derek/Desktop/GenAI/assets/categorized_videos2.json filter=lfs diff=lfs merge=lfs -text
/Users/derek/Desktop/GenAI/assets/categorized_videos3.json filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/last.jpeg filter=lfs diff=lfs merge=lfs -text
assets/track_stubs.json filter=lfs diff=lfs merge=lfs -text
assets/categorized_videos3.json filter=lfs diff=lfs merge=lfs -text
assets/dunk.png filter=lfs diff=lfs merge=lfs -text
assets/fullvideo.mp4 filter=lfs diff=lfs merge=lfs -text
assets/categorized_videos2.json filter=lfs diff=lfs merge=lfs -text
assets/football.mp4 filter=lfs diff=lfs merge=lfs -text
assets/channel_icon.png filter=lfs diff=lfs merge=lfs -text
assets/players_data.json filter=lfs diff=lfs merge=lfs -text
assets/tmp.py filter=lfs diff=lfs merge=lfs -text
assets/fonts filter=lfs diff=lfs merge=lfs -text
assets/categorized_videos.json filter=lfs diff=lfs merge=lfs -text
assets/channel_videos.json filter=lfs diff=lfs merge=lfs -text
assets/crossover.png filter=lfs diff=lfs merge=lfs -text
