aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.3
asttokens==2.4.1
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.11.1
certifi==2022.12.7
charset-normalizer==3.1.0
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
distro==1.8.0
dnspython==2.6.1
executing==2.0.1
fastjsonschema==2.19.0
filelock==3.9.0
fonttools==4.47.0
frozenlist==1.4.0
fsspec==2023.4.0
gif-for-cli==1.1.2
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.4
import-ipynb==0.1.4
ipykernel==6.27.1
ipython==8.18.1
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_client==8.6.0
jupyter_core==5.5.1
kiwisolver==1.4.5
macholib==1.16.2
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mpmath==1.3.0
multidict==6.0.4
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.0
numpy==1.26.3
openai==1.3.5
packaging==23.2
pandas==2.1.3
parso==0.8.3
pexpect==4.9.0
Pillow==9.5.0
platformdirs==4.1.0
plotly==5.22.0
prompt-toolkit==3.0.43
protobuf==4.21.12
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.5.2
pydantic_core==2.14.5
pygame==2.5.2
Pygments==2.17.2
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pymongo==4.7.2
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==25.1.2
referencing==0.32.0
requests==2.29.0
rpds-py==0.15.2
scikit-learn==1.3.2
scipy==1.11.4
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
stack-data==0.6.3
sympy==1.12
tabulate==0.8.8
tenacity==8.3.0
threadpoolctl==3.2.0
tk==0.1.0
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tornado==6.4
tqdm==4.65.0
traitlets==5.14.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==1.26.15
wcwidth==0.2.5
x256==0.0.3
yarl==1.9.2
